.navbar {
    background-color: #4981C7;
}

.spacer {
    height: 120px;
}

.navbar-brand {
    color: white;
}

#brand {
    display: none;
}

@media screen and (min-width: 864px) {
    #brand {
        display: initial;
    }
    
    #brand-abbr {
        display: none;
    }
}

#sidebar {
    position: fixed;
    width: 200px;
    top: 120;
    left: 12px;
}

#simulator-nav {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #dae0e5;
    border-radius: 4px;
    padding: 8px 0; 
}

#run-simulation {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    flex-shrink: 0;
}

#simulator-nav h6 {
    color: #6c757d;
    font-size: 14px;
    padding: 8px 16px;
    margin: 0;
}

#simulator-nav .nav-link {
    color: #212529;
    transition: all 0.2s ease-in-out;
}

#simulator-nav .nav-link:hover {
    color: #212529;
    background-color: #e2e6ea;
}

#simulator-content {
    margin-left: 212px;
    padding: 0 8% 2% 5%;
}

#simulator-content .form-group {
    margin-bottom: 5%;
}

#simulator-content label, #simulator-content legend {
    font-weight: 500;
}

#simulator-content .custom-control label {
    font-weight: 400;
}



/* --------------------------------------------------------- */

.slider {
    -webkit-appearance: none;
            appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #DEE2E6;
    outline: none;
    padding: 0;
    margin: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #343a40;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
            transition: background .15s ease-in-out;
}

.slider::-webkit-slider-thumb:hover, .slider::-webkit-slider-thumb:active {
    background: #007bff;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #343a40;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
            transition: background .15s ease-in-out;
}

.slider::-webkit-slider-thumb:hover, .slider::-moz-range-thumb:hover, .slider::-webkit-slider-thumb:active, .slider::-moz-range-thumb:active {
    background: #007bff;
}

